* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  /* text-align: center; */
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: theDownload;
  src: url(../Fonts/Finland_Rounded_Thin.ttf) format("truetype");
}

@font-face {
  font-family: borg;
  src: url(../Fonts/Borg.ttf) format("truetype");
}

@font-face {
  font-family: norwester;
  src: url(../Fonts/norwester.ttf) format("truetype");
}

body {
  font-family: theDownload;
  font-weight: 400;
  opacity: 1;
  overflow-x: hidden;
}



/* @media screen and (min-width: 600px) { */
.restaurant__title {
  padding: 20px;
  width: 100%;

  /* max-width:440px; */
}

.restaurant__title--name {
  font-size: 6.5rem;
  margin-left: -3px;
  line-height: 5rem;
  padding: 0px;
}

.restaurant__title--desc {
  margin: 0;
  font-size: 2rem;
}

.restaurant__title--addy {
  margin: 0;
  font-size: 1.2rem;
  font-family: norwester;

  /* font-size: 1vw; */
  /* letter-spacing: .25rem; */
}

.restaurant__title span {
  color: #fff;
}

.social-media-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 200px;
  font-size: 1.1rem;
  padding: 20px;
  /* display: none; */
}

.social-media-menu__icon:hover {
  transition: 0.5s;
  color: rgba(231, 164, 64);
}

.sidenav__button--close {
  /* display: block; */
  display: none;

}

.restaurant-info {
  width: 100%;
  scroll-snap-align: start;
  overflow: hidden;
  z-index: 2000;
  background-color: blanchedalmond;
  /* background-color: rgba(122, 122, 240, 0.5); */
}

.restaurant-navigation__img-container {
  display: none;
}

.restaurant-navigation {
  font: 45rem norwester;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
}

.restaurant-navigation__link {
  padding: 10px 0px;
  list-style-type: none;
}

.restaurant-navigation__link a {
  /* font-size: 2.3rem; */
  font-size: calc(2rem + (7 - 2) * ((100vw - 1000px) / (1600 - 1000)));
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */

}

.restaurant-navigation p:hover,
.restaurant-navigation__link a:hover {
  color: rgba(231, 164, 64);
  transition: 0.3s ease;
}

/* .restaurant-navigation p:hover:after,
.restaurant-navigation__link:hover:after {
  content: " -";
  color: rgba(231, 164, 64);
  margin-left: 5px;
} */

.restaurant-navigation a {
  color: black;
  text-decoration: none;
}

.restaurant-info__img {
  /* height:100%; */
  object-fit: cover;
  /* width:100%; */
}

.restaurant-info-content-container {
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-info-content-container .restaurant-info__text {
  position: absolute;
  top: 10%;
  font: 3rem norwester;
  color: blanchedalmond;
  margin-left: 250px;
  width: auto;
  /* border: 2px solid green; */
  /* z-index: 10; */
  /* mix-blend-mode: difference; */
}

.restaurant-info__text>* {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  /* background:white;
        -webkit-text-fill-color: black; */
}

.restaurant-info__text p {
  font-size: 2rem;
  font-weight: 800;
  font-family: theDownload;
  margin-bottom: 70px;
}

header {
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 10;
  background: blanchedalmond;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
  transition: 0.5s;
  text-align: left;
  /* width: 1300px; */
  overflow: none;
  min-width: 30%;
  height: 100%;
  /* border: thick solid peru; */
}

.openingTimes {
  font-size: 8px;
  font-family: norwester;
  margin-left: 150px;
  padding: 20px;
  z-index: 3;
  box-shadow: 14px 18px 19px -6px rgba(0, 0, 0, 0.75);
}

.openingTimes h3 {
  font-size: 7rem;
  /* font-size: 3.5rem;  */
  font-family: norwester;
  margin: 0;
  text-transform: uppercase;
}

.openingTimes p {
  font-size: 3rem;
  /* font-size: 1.5rem; */
  text-transform: uppercase;
}

.openGrid>div {
  height: auto;
  align-items: flex-start;
}

.openGrid>div>div>p {
  margin: 0;
  padding: 0;
}

.openDay {
  text-align: right;
}

.openHours p {
  font-size: 10.7rem;
  /* font-size: 5.35rem; */
}

.openHours {
  padding: 0;
  margin: 0;
}

.levelUp {
  line-height: 165px;
}

.boost p {
  font-size: 5rem;
  /* font-size: 2.5rem; */
}

.openGrid {
  display: flex;
  flex-flow: column nowrap;
}

.gridSection {
  display: flex;
  align-items: center;
  width: auto;
  vertical-align: text-bottom;
}

.split {
  flex-flow: column wrap;
}

p .times {
  font-size: 10rem;
}

footer {
  display: flex;
  background: hsl(36, 37%, 75%);
  text-align: center;
  justify-content: space-between;
  padding: 0px 100px;
}

footer>div {
  font-size: 2rem;
  width: 100%;
}

.sitemap-section {
  display: flex;
  padding: 30px;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
}

.generalInfo {
  font-size: 2rem;
  /* margin: 0px 200px; */
}

.sitemap-section a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font: 1rem norwester;
}

.sitemap-section a:hover {
  color: blanchedalmond;
}

main {
  /* height:100vh; */
  transition: 0.5s;
  /* scroll-snap-type: y mandatory;
        overflow-y: scroll;
        position: relative; */
}

.foodmenu__btn--close a:hover {
  color: rgba(231, 164, 64);
  transition: 0.3s ease;
}

.foodmenu__btn--close {
  position: fixed;
  bottom: 20%;
  right: 80px;
  height: 0px;
  width: 30px;
  z-index: 10000;
  opacity: 0;
}

.foodmenu__btn--close a {
  font-size: 10rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.foodmenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: blanchedalmond;
  background-color: rgba(231, 164, 64);
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  text-align: center;
  font: 2.5rem norwester;
  display: flex;
  justify-content: center;
}

.foodmenuContainer {
  width: auto;
  /* border: thick solid yellow; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  z-index: 3;
}

.foodmenu__item {
  color: black;
  text-decoration: none;
  padding: 20px;

}

.foodmenu__item a {
  font: 5rem norwester;
  text-transform: uppercase;
}

.foodmenu__item a:hover,
.foodmenu__item a:active {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  /* color: rgba(231, 164, 64); */
  color: blanchedalmond;
}



.restaurant-navigation__link--shadow {
  font: calc(1.5rem + (4 - 1.5) * ((100vw - 1000px) / (1600 - 1000))) theDownload;
  /* font-size: calc(.5rem + (1.5 - .5) * ((100vw - 1000px) / (1600 - 1000))); */

  font-weight: 900;
  text-transform: uppercase;
  opacity: .4;
}

.openDay:hover+.openHours {
  color: blanchedalmond;
  transition: 0.5s;
}

a[name="orderFoodPart"] div {
  border: 5px solid green;
}


.contactUs {
  width: 100%;
  /* padding: 30px; */
}

.keep-in-touch-section {
  padding: 30px;
}

.keep-in-touch-section__addy {
  font-size: 3rem;
}

/* } */





/* //////////////////////////////////////////
//////////////////////////////////////////// */

@media screen and (max-width: 600px) {

  header {
    overflow: hidden;
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    top: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    /* align-items: center; */
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* justify-items: space-between; */
    text-align: center;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
  }

  .restaurant-navigation__img-container {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
  }

  .restaurant-navigation__img--mini {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .restaurant__title {
    padding: 10px;
    background: blanchedalmond;
    box-flex: 1;
  }

  .restaurant__title--name {
    font-size: 4.5rem;
    padding: 10px;
  }

  .restaurant__title--desc {
    margin: 0;
    padding: 5px;
    font-size: 1.75rem;
  }

  .restaurant__title--addy {
    margin: 0;
    padding: 5px;
    font-size: 1.25rem;
    font-family: norwester;
  }

  .restaurant-info__img {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }



  .restaurant-navigation__link--shadow {
    display: none;
  }

  .restaurant-navigation__vid--mini {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .restaurant-info-content-container {
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: none;
  }

  .restaurant-info__text {
    position: absolute;
    padding: 5%;
    font: 3rem norwester;
    color: #000;
    width: 100%;
    opacity: 1;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .restaurant-navigation__link {
    padding: 15px 0px;
    list-style-type: none;
    width: 100%;
  }

  .restaurant-navigation a {
    font: 1.5rem norwester;
    color: black;
    transition: font ease .5s;
  }

  .restaurant-navigation {
    text-align: center;
  }

  .restaurant-navigation p:hover,
  .restaurant-navigation p:active,
  .restaurant-navigation__link a:hover,
  .restaurant-navigation__link a:active,
  .sidenav__button--close:hover,
  .sidenav__button--close:active {
    color: rgba(231, 164, 64);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .restaurant-navigation p:hover:after,
  .restaurant-navigation p:active:after .restaurant-navigation__link:hover:after,
  .restaurant-navigation__link:active:after {
    color: rgba(231, 164, 64);
    margin-left: 5px;
  }

  .social-media-menu {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background: blanchedalmond;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.1rem;
  }

  .social-media-menu__icon:hover,
  .social-media-menu__icon:active {
    color: rgba(231, 164, 64);
    transition: color ease .4s;
  }


  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: hsl(36, 37%, 75%);
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  footer>div {
    font-size: 2rem;
    width: 100%;
  }

  .sitemap-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
  }

  .generalInfo {
    font-size: 2rem;
  }

  .sitemap-section__link {
    color: black;
    padding: 10px 20px;
    font: 1rem norwester;
  }

  .contactUs {
    width: 100%;
  }

  .openingTimes {
    display: none;
  }

  .foodmenu {
    height: 0;
    width: 100%;
    background-color: orange;
    /* background-color: blanchedalmond; */
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    /* font: 2rem norwester; */
    font-family: norwester;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    /*no padding for larger screen sizes */
    /* padding-top:45%; */
    /* border: 10px solid black; */
    /* align-self: flex-end; */
  }

  /* .foodmenu {
    font-size: 16rem;
  }
  @media screen and (min-width: 320px) {
    .foodmenu {
      font-size: calc(0.9rem + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    .foodmenu {
      font-size: 2rem;
    }
  } */

  .foodmenu__item {
    color: black;
    width: auto;
    padding: 15px 10px;
  }

  .foodmenu:hover>.foodmenu__item a {
    color: hsl(0, 17%, 25%);
    opacity: 0.7;
    -webkit-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
  }

  .foodmenu:hover>.foodmenu__item a:hover {
    color: green;
    opacity: 1;
  }

  .foodmenu__item:hover,
  .foodmenu__item:active {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: rgba(231, 164, 64);
  }

  .foodmenu__btn--close a:hover,
  .foodmenu__btn--close a:active {
    color: blanchedalmond;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }

  .foodmenu__btn--close a {
    color: black;
    opacity: 0.8;
    font-size: 13rem;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .foodmenu__btn--close {
    position: fixed;
    bottom: 15%;
    right: 0;
    left: 0;
    margin: auto 0;
    height: 30px;
    width: 30px;
    z-index: 1;
    opacity: 0;
  }

  .heightPush {
    height: auto;
  }

  .sidenav__button--close {
    display: block;
    cursor: pointer;
    padding: 10px;
    background: blanchedalmond;
    box-flex: 1;

  }

  /* @media (min-width: 480px), (max-width: 1500px) {
    .restaurant-navigation__link {
      font-size: calc(1.5rem + 0.25vw);
    }
  } 
  
   @media (min-width: 480px), (max-width: 1500px) {
    .restaurant__title--name {
      font-size: calc(2rem + 5vw);
    }
  }  */

  .shutter {
    display: none;
  }

}

/* ////////////////////////////////////
//////////////////////////////////// */

@media screen and (max-width: 1110px) {
  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }


}

/* @media screen and (min-width: 1000px) {
  .restaurant-navigation__link a {
    font-size: calc(2.5rem + 6 * ((100vw - 1000px) / 680));
  }
}

@media screen and (min-width: 2000px) {
  .restaurant-navigation__link a {
    font-size: 12.5rem;
  }
} */