* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: theDownload;
  src: url(../Fonts/Finland_Rounded_Thin.ttf) format("truetype");
}

@font-face {
  font-family: borg;
  src: url(../Fonts/Borg.ttf) format("truetype");
}

@font-face {
  font-family: norwester;
  src: url(../Fonts/norwester.ttf) format("truetype");
}


body {
  font-family: theDownload;
  font-weight: 400;
  opacity: 1;
  overflow-x: hidden;
}

.restaurant__title {
  padding: 20px;
  width: 100%;
}

.restaurant__title--name {
  font-family:'Miniver', cursive;
  font-size: 4rem;
  line-height:50px;

  
  /* font-size: calc(4rem + (4 - 1) * ((100vw - 300px) / (1600 - 300))); */
  /* font-size: calc(5rem + (5 - 1) * ((100vw - 300px) / (1600 - 300))); */
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
  /* font-size: 6.5rem;
  margin-left: -3px;
  line-height: 5rem;
  padding: 0px; */
}

.restaurant__title--desc {
  margin: 0;
  /* font-family:'Miniver', cursive; */
  font-size: 2rem;
}

.error__text--backButton {
font-family: norwester;
font-size:3rem;
}

.restaurant__title--addy {
  margin: 0;
  font-size: 1.2rem;
  font-family: norwester;
}

.restaurant__title span {
  color: #fff;
  font-size: 4.5rem;
  line-height: 3rem;
}

.social-media-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 20px 0px;
  width: 200px;
}

.foodChoicePicked {
  display: block;
  color: blanchedalmond;
}

.social-media-menu__icon {
  padding: 0px 5px;
  font-size: 1.2rem;
  transition: all ease 0.5s;
}

.social-media-menu__icon:hover {
  transition: 0.5s;
  color: rgba(231, 164, 64);
}

.sidenav__button--close {
  display: none;
}

.restaurant-info__text--highlight {
  /* color: rgba(231, 164, 64); */
  color: blanchedalmond;
}

.hideIt {
  display: none;
}

.restaurant-info {
  min-width: 100%;
  scroll-snap-align: start;
  overflow: hidden;
  z-index: 2000;
  background-color: blanchedalmond;
}

.restaurant-info__text--superscript {
  vertical-align: super;
  color: blanchedalmond;
}

.restaurant-navigation__img-container {
  display: none;
}

.restaurant-navigation {
  font: 45rem norwester;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
}

.restaurant-navigation__link {
  padding: 10px 0px;
  list-style-type: none;
}

.restaurant-navigation__link a {
  font-size: calc(1.75rem + (8 - 2) * ((100vw - 1000px) / (1600 - 1000)));
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}

.restaurant-navigation p:hover,
.restaurant-navigation__link a:hover {
  color: rgba(231, 164, 64);
  transition: 0.3s ease;
}

.restaurant-navigation a {
  color: black;
  text-decoration: none;
}

.restaurant-info__img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.restaurant-info-content-container {
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.text-container {
  width: 65%;
  position: absolute;
  left: 30%;
  padding: 5%;
  height: 100%;
}

.restaurant-info-content-container .restaurant-info__text {
  height: auto;
  width: auto;
  transition: ease font 0.5s;
}

.restaurant-info__text p {
  display: inline;
  font: 3.5rem norwester;
  color: blanchedalmond;
  transition: ease font 0.5s;
  background-color: black;
}

.restaurant-navigation__vid--large {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

strong {
  color: blanchedalmond;
}

header {
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 10;
  background: blanchedalmond;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
  transition: 0.5s;
  text-align: left;
  overflow: none;
  min-width: 120px;
  min-height: 100vh;
}

footer {
  display: flex;
  background: hsl(36, 37%, 75%);
  text-align: center;
  justify-content: space-between;
  padding: 0px 100px;
}

footer > div {
  font-size: 2rem;
  width: 100%;
}

.sitemap-section {
  display: flex;
  padding: 30px;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
}

.generalInfo {
  font-size: 2rem;
}

.sitemap-section a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font: 1rem norwester;
}

.sitemap-section a:hover {
  color: blanchedalmond;
}

.foodmenu__btn--close a:hover {
  color: blanchedalmond;
  transition: 0.3s ease;
}

:not(.foodmenu__item:hover) {
  color: lightgrey;
}

.foodmenu__item--choice {
  padding: 5px 0px;
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.foodmenu__item--choice:active,
.foodmenu__item--choice:hover {
  color: blanchedalmond;
  transition: 0.3s ease;
}

.foodmenu__item--section {
  width: 100%;
  margin: 2rem 0;
  padding-top: 1rem;
  border-top: 2px solid black;
}

.foodmenu__btn--close {
  position: fixed;
  bottom: 20%;
  right: 80px;
  height: 0px;
  width: 30px;
  z-index: 10000;
  opacity: 0;
}

.foodmenu__btn--close a {
  font-size: 8rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
  transition: font-size ease 0.5s;
}

.foodmenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: blanchedalmond;
  background-color: rgba(231, 164, 64);
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  font: 2.5rem norwester;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodmenuContainer {
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  z-index: 3;
  align-items: flex-start;
}

.foodmenu__item:hover {
  color: green;
}

.error__text--container {
  width: 50%;
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateX(20%);
  text-align: center;
  z-index: 1;
}

.error__text--content {
  /* font-family: norwester; */
  font-size: 4rem;
  font-family:'Miniver', cursive;
}

.error__video--container {
  height: 100%;
  width: 70%;
  right: 0;
  position: absolute;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.foodmenu__item {
  color: black;
  text-decoration: none;
  margin-top: 30px;
  width: 100%;
}

.foodmenu__item a {
  font: 5rem miniver;
  transition: all ease 0.5s;
  /* text-decoration: underline; */
}

.foodmenu__item a:hover,
.foodmenu__item a:active {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: blanchedalmond;
}

.restaurant-navigation__link--shadow {
  font: calc(1.35rem + (4 - 1.35) * ((100vw - 1000px) / (1600 - 1000)))
    theDownload;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.4;
}

.openDay:hover + .openHours {
  color: blanchedalmond;
  transition: 0.5s;
}

a[name="orderFoodPart"] div {
  border: 5px solid green;
}

.contactUs {
  width: 100%;
}

.keep-in-touch-section {
  padding: 30px;
}

.keep-in-touch-section__addy {
  font-size: 3rem;
}

/* 
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
 */

@media screen and (max-width: 1110px) {
  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    max-width: 30%;
  }

  .restaurant-info__img {
    height: 100vh;
    object-fit: cover;
  }


  .restaurant__title--name {
    font-size: 3rem;
   
   }

  .social-media-menu__icon {
    font-size: 1rem;
  }

  .social-media-menu {
    width: 100%;
  }

  .restaurant-info-content-container .restaurant-info__text {
    border: 20px solid aquamarine;
    background-color: aquamarine;
    position: relative;
    line-height: 0px;
  }

  .restaurant-info__text p {
    color: black;
    background-color: aquamarine;
    display: block;
    font-size: 3rem;
    /* font-size: calc(3rem + (9 - 3) * ((100vw - 600px) / (1100 - 600))); */
  }

  .restaurant-info__text--superscript {
    vertical-align: super;
    color: black;
  }

  .text-container {
    position: absolute;
    right: 30%;
  }

  strong {
    color: black;
  }


  .foodmenu__btn--close a:hover {
    color: blanchedalmond;
    transition: 0.3s ease;
  }

  .restaurant__title--desc {
    font-size: 1.7rem;
    margin: 0px;
  }

  .restaurant__title--addy {
    font-size: 1rem;
  }
}

/* 
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
 */

@media screen and (max-width: 900px) {
  .restaurant-info__text p {
    font: 2.5rem norwester;
  }

/* .restaurant-info__text {
    margin-left: 10%;
  } */
.error__text--backButton {
    font-size:2rem;
  }
.error__text--content {
    font-size: 2.75rem;
    background: pink;
    padding: 2rem;
 }
   
}

/* 
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
 */

@media screen and (max-width: 760px) {
  .restaurant-info__text p {
    font: 2.5rem norwester;
  }
  .restaurant-navigation__link--shadow {
    display: none;
  }

  /* .restaurant-info__text {
    margin-left: 20%;
  } */

  .foodmenu__item a {
    font-size: 3.5rem;
  }

 
}

/* 
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
 */

@media screen and (max-width: 600px) {

  .restaurant-navigation__link {
    text-align: center;
  }

  .restaurant-navigation {
    padding: 0px;
  }
  .restaurant-navigation__link a {
    font-size: 1.3rem;
    font-weight: normal;
  }

  .restaurant__title {
    padding: 0;
    text-align: center;
  }

  .restaurant__title--name {
    font-size: 2rem;
    padding-top: 20px;
    line-height: 50px;
  }

  .restaurant__title--addy {
    display: none;
  }

  .text-container {
    width: 70%;
    left: 30%;
    right: 0;
    min-width: 200px;
    transform: translateY(-35%);
    top: 50%;
  }

  .restaurant-info__text {
    margin: 0%;
  }

  .restaurant-info__text p {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .foodmenu__item a {
    font-size: 2.75rem;
  }

  .foodmenu__item--choice {
    font-size: 1rem;
  }

  .foodmenu__btn--close a {
    font-size: 3rem;
  }

  .social-media-menu {
    width: auto;
    flex-flow: column wrap;
    padding: 0px 20px;
    align-content: center;
  }

  .social-media-menu__icon {
    padding: 15px 0;
    font-size: 1rem;
  }

  .foodmenu__btn--close {
    bottom: 13%;
    right: 7%;
  }
}





@media screen and (max-width: 449px) {
  .social-media-menu__icon {
    padding: 8px 0;
    font-size: 0.9rem;
  }

  .social-media-menu__icon {
    font-size: 1rem;
  }

  .restaurant-info__text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .restaurant-navigation__link {
    padding: 8px 0px;
  }

  .restaurant-navigation__link a {
    font-size: 1rem;
  }
  .restaurant__title--desc {
    font-size: 1.3rem;
  }

  .restaurant__title--name {
    padding: 10px 0;
  }
  .error__text--content {
  font-size: 1.75rem;
  }

  .error__text--container {
    left: 33%;
  }

  /* .text-container {
    padding: 0%;
    width: calc(100% - 120px);
    right:0;
    left: 120px;


  } */
}
